<div id="wrapper">

<!-- Campaign 2 -->

  <div ng-include src="'partials/user-nav.html'"></div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h2>Create a Campaign</h2>

          <div class="stepwizard">
              <div class="stepwizard-row">
                  <div class="stepwizard-step">
                      <a type="button" class="btn btn-default btn-circle" disabled="disabled">1</a>
                      <p>Step 1 - Add a product</p>
                  </div>
                  <div class="stepwizard-step setup-panel">
                      <a type="button" class="btn btn-primary btn-circle">2</a>
                      <p>Step 2 - Add customers</p>
                  </div>
                  <div class="stepwizard-step">
                      <a type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                      <p>Step 3 - Create your campaign</p>
                  </div>
              </div>
          </div>

            <form role="form">
              <div class="row setup-content" id="step-2">
                  <div class="col-xs-12">
                      <div class="col-md-12">
                          <h3> Step 2 - Add customers</h3>
                          <p> These twitter users are looking for your product! Select the users that you would like to directly advertise to:</p>
                          <table class="table">
                            <tr>
                              <td>
                                <input type="checkbox" value="">
                              </td>
                              <td>
                                <blockquote class="twitter-tweet" lang="en"><p>little update ... my microwave is still broken and it still has my food in it.....</p>&mdash; Carington Whitley (@CaringtonWhit) <a href="https://twitter.com/CaringtonWhit/status/559394977176768512">January 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" value="">
                              </td>
                              <td>
 <blockquote class="twitter-tweet" lang="en"><p>Guys my microwave has broken so I can&#39;t have pancakes;((((</p>&mdash; HAPPY 19TH CAL (@Iukeshairgame) <a href="https://twitter.com/Iukeshairgame/status/559295104381628417">January 25, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" value="">
                              </td>
                              <td>
<blockquote class="twitter-tweet" lang="en"><p>Just looked up on wiki how to hard boil an egg in the microwave ,did it and now I have a broken microwave and exploded eggs all over <a href="https://twitter.com/hashtag/goals?src=hash">#goals</a></p>&mdash; alllly (@allyrenda) <a href="https://twitter.com/allyrenda/status/557653521253011458">January 20, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <input type="checkbox" value="">
                              </td>
                              <td>
<blockquote class="twitter-tweet" lang="en"><p>All I want is popcorn but my microwave is broken :&#39;(</p>&mdash; Gabs (@gabby_duraan) <a href="https://twitter.com/gabby_duraan/status/557380661301219330">January 20, 2015</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                              </td>
                            </tr>                                                                                                                
                          </table>

                          <a class="btn btn-info btn-lg pull-left" type="button" ng-href="#/create-campaign-1"><i class="fa fa-caret-left"></i> Back</a>
                          <a class="btn btn-primary btn-lg pull-right" type="button" ng-href="#/create-campaign-3">Next <i class="fa fa-caret-right"></i></a>
                      </div>
                  </div>
              </div>
            </form>

        </div>
      </div>
    </div>
  </div>

</div>