<div id="wrapper">

	<div ng-include src="'partials/user-nav.html'"></div>

	<div id="page-content-wrapper">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">

					<h2>Dashboard</h2>

					<table class="table">
						<tr>
							<th>Active Campaigns</th>
							<th>All Campaigns</th>
							<th>Clickthrough Rate</th>
							<th>Highest Performing Campaign</th>
						</tr>
						<tr>
							<td><h3>0</h3></td>
							<td><h3>0</h3></td>
							<td><h3>0</h3></td>
							<td><h3>None</h3></td>
						</tr>
					</table>

				</div>
			</div>
		</div>
	</div>

</div>