<nav class="navbar navbar-inverse navbar-fixed-top" style="height:80px; border:none; background:#ea3518;" role="navigation">
	<div class="container">
		<div style="text-align:center; padding:20px;"><a href="#/"><img src="img/saleshawk-logo.png"></a></div>
	</div>
</nav>

<div class="jumbotron" style="margin-top:80px; height:700px; background-attachment:fixed; background-image:url('img/background.png'); -webkit-background-size:cover; background-size:cover; background-postion: center top;">
  <div class="container" style="text-align:center;">
    <h1 style="color:#ffffff; text-shadow: 1px 1px #0e1a2f;">Advertise directly to customers ready to buy your product.<br><small style="color:#c2c2c2;"><em>Simple advertising using intelligent algorithms for Sears Marketplace Merchants.</em></small></h1>
    
    <br>
  	<br>
  	<p>
    	<div>
    			<a class="btn btn-primary btn-lg" ng-click="twitterLogin()"><i class="fa fa-twitter"></i> Sign in with Twitter</a>
    	</div>
  	</p>
  </div>
</div>