<!-- user-nav -->

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand" style="margin-top:30px; margin-left:-14px;">
      <a href="#/dashboard">
        <img src="img/saleshawk-logo.png" width="160px">
      </a>
    </li>
    <li>
      <a href="#/dashboard">Dashboard</a>
    </li>
    <li>
      <a href="#/campaigns">Campaigns</a>
    </li>
    <li>
      <a href="#/settings">Settings</a>
    </li>
    <li>
      <a href="#/">Logout</a>
    </li>
  </ul>
</div>

<!-- /user-nav -->
